<div class="block block--highlight">
    <div class="block-heading"><h3>Level idea?</h3></div>
    <div class="block-content">
        <p>Burning idea you would love to see turned into a new level?</p>
        <a href='/discussions/playground-ideas/new' class='button button--wide'>Submit idea</a>
    </div>
</div>