<div class="block">
    <div class="block-heading"><h2>Basket</h2></div>
    <div class="block-content">
        {% include 'shop/orderList.twig' %}
        <a href='/shop/checkout' class="button button--main button--wide">Checkout</a>
        <a href='/shop/clear' class="button button--wide button--warning">Clear basket</a>
    </div>
</div>