{% set queue = queue('classes', 'sidebar', 'help') %}
{% extends 'layout/main.twig' %}

{% block content %}
    <div id="content" class="container">
        <div class="block">
            <div class="block-heading">
                <h1>Chat</h1>
            </div>
            <div class="block-content">
                <p>
                    As a Defend the Web member you get access to our dedicated <a href='https://matrix.org/' target='_blank'>Matrix</a> homeserver: defendtheweb.co.uk. This means that you can login to our homeserver using your Defend the Web login details. Alternatively if you already have a Matrix account on a different homeserver you can still use that to chat to DtW members.
                </p>
                <p>
                    Matrix open standard for secure, decentralised, real-time communication. When you send a message in Matrix, it is replicated over all the servers whose users are participating in a given conversation - similarly to how commits are replicated between Git repositories. There is no single point of control or failure in a Matrix conversation which spans multiple servers
                </p>
                <p>
                    <table>
                        <tr>
                            <td>Home server</td>
                            <td>https://defendtheweb.co.uk</td>
                        </tr>
                        <tr>
                            <td>Username</td>
                            <td>{{ user ? user.username : 'Your DtW username' }}</td>
                        </tr>
                        <tr>
                            <td>Password</td>
                            <td>Your Defend the Web password</td>
                        </tr>
                    </table>
                </p>
                <p>
                    <table>
                        <tr>
                            <td>Main chat room</td>
                            <td><a href='https://riot.im/app/#/room/#hq:defendtheweb.co.uk' target='_blank'>#hq:defendtheweb.co.uk</a></td>
                        </tr>
                        <tr>
                            <td>Direct message</td>
                            <td>@{username}:defendtheweb.co.uk</td>
                        </tr>
                    </table>
                </p>
                <h3>Clients</h3>
                <p>
                    The <a href='https://about.riot.im/' target='_blank'>Riot</a> client is the most fully featured client available for Matrix. They provide web, desktop, Android and iOS clients. <a href='https://riot.im/app/'>Click here</a> to launch their web client. You will need to change the homeserver before trying to login with you DtW account details.
                </p>
                <p>
                    Matrix also maintains a <a href='https://matrix.org/docs/projects/clients-matrix' target='_blank'>list of other clients and SDKs</a> available. 
                </p>
            </div>
        </div>
    </div>
{% endblock %}