<!DOCTYPE html>
<html lang="en" class="no-js {{ dark ? 'dark-mode' : '' }}">
    <head>
        <meta charset="utf-8">
        <META HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=UTF-8">
        <title>{{ title ? title ~ ' | ' : (breadcrumb|keys|last ? breadcrumb|keys|last ~ ' | ') }}{{ site.title }}</title>
        <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=1, viewport-fit=cover">
        <meta name="referrer" content="origin-when-crossorigin">
        <link rel="manifest" href="/manifest.json">

        {% if canonical %}
            <link rel="canonical" href="{{ canonical }}" />
        {% endif %}

        <meta property="og:site_name" content="{{ site.title }}" />
        {% if meta %}
            {% for key, value in meta %}
                <meta name="{{ key }}" content="{{ value }}" />
            {% endfor %}
        {% endif %}

        <!--[if lt IE 9]>
          <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js"></script>
        <![endif]-->
        <!-- <link href='https://fonts.googleapis.com/css?family=Anonymous+Pro:400|Lato:300,200|Orbitron&subset=latin,cyrillic' rel='stylesheet' type='text/css'> -->
        <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"> -->

        <link rel="stylesheet" href="{{ site.static }}/css/style.css?v={{ site.version }}" />

        <!-- TODO: remove -->
        <script src="{{ site.static }}/js/jquery.min.js"></script>

        <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
        <meta name="apple-mobile-web-app-capable" content="yes">
        <link rel="apple-touch-icon" sizes="180x180" href="{{ site.static }}/icons/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="{{ site.static }}/icons/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="{{ site.static }}/icons/favicon-16x16.png">
        <link rel="mask-icon" href="{{ site.static }}/icons/safari-pinned-tab.svg" color="#2d3b4f">
        <link rel="shortcut icon" href="{{ site.static }}/icons/favicon.ico">
        <meta name="msapplication-TileColor" content="#2d3b4f">
        <meta name="msapplication-config" content="{{ site.static }}/icons/browserconfig.xml">
        <meta name="theme-color" content="#2d3b4f">

        {% if level.code.header %}{{ level.code.header|raw }}{% endif %}

        {% for sheet in styles %}
            <link rel="stylesheet" href="{{ sheet }}?v={{ site.version }}" />
        {% endfor %}

        {# Matrix client #}
        {% if user and matrix %}
            <link rel="stylesheet" href="{{ site.static }}/vendor/matrix-client/matrix.css?v={{ site.version }}" />
        {% endif %}

        {% if CSRFtoken %}
            <meta name="csrf-token" content="{{ CSRFtoken }}">
        {% endif %}

        {% if site.static %}
            <meta name="site-static" content="{{ site.static }}">
        {% endif %}

        {% if site.version %}
            <meta name="site-version" content="{{ site.version }}">
        {% endif %}

        {% if site.sentry %}
            <meta name="sentry" content="{{ site.sentry }}">
        {% endif %}
    </head>
    <body class="{{ classes|join(' ') }}">
        {% block html %}{% endblock %}

        <script src="{{ site.static }}/js/script.min.js?v={{ site.version }}" crossorigin="anonymous" defer></script>
        <script src="https://twemoji.maxcdn.com/v/latest/twemoji.min.js" crossorigin="anonymous" defer></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js" integrity="sha256-CfcERD4Ov4+lKbWbYqXD6aFM9M51gN4GUEtDhkWABMo=" crossorigin="anonymous" defer></script>

        {% for script in scripts %}
            <script src="{{ script }}?v={{ site.version }}" defer></script>
        {% endfor %}

        {# Matrix client #}
        {% if user and matrix %}
            <div class="matrix" data-matrix></div>
            <script src="{{ site.static }}/vendor/matrix-client/matrix.js?v={{ site.version }}" defer></script>
            <script src="{{ site.static }}/js/matrix.min.js?v={{ site.version }}" defer></script>
        {% endif %}

        {% if level.code.footer %}{{ level.code.footer|raw }}{% endif %}
    </body>
</html>