<div class="block feed discussion-list">
    <div class="block-heading">
        <h3>Discussions</h3>
    </div>
    <div class="block-content discussion-list-threads">

        {% for discussion in discussions %}
            {% include 'discussions/rollup.twig' with { thread: discussion.id } %}
        {% endfor %}

    </div>
</div>