body.shop {

    .block--shop .block-content {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        @media (max-width: $mobileWidth) {
            flex-direction: column;
        }

        .shop-item {
            flex: 0 0 30%;
        }

        .shop-item-description h3 {
            margin: 1em 0;
        }
    }

    .block--product {
        .four.columns {
            img {
                margin-bottom: 1em;
            }

            h3 {
                margin-bottom: 0.5em;
            }
        }
    }

    // Donations
    ul.list {
        li {
            div:last-child {
                min-width: 100px;
                text-align: right;
            }
        }
    }

}