{% set donator = user.profile.isDonator() %}

{% if not donator %}
    {% set advert = getRandomAdvert() %}
    <div class="block block--clean block--advert">
        <div class="block-content">
            <div class="align-right">
                <a href='/donations' target='_blank' class="small">Remove ads</a> &middot; 
                <a href='/help/contact' target='_blank' class="small">Advertise here</a>
            </div>

            {% if advert.type == 'amazon' %} 
                <a href='{{ advert.link }}' target='_blank' class="button button--main button--wide button--clean" style="padding: 0; border: 0; margin-top: 0">
                    <img src="{{ advert.image }}"/>
                    <div style="padding: 1em">Buy “{{ advert.name }}” on Amazon</div>
                </a>
            {% else %}
                <a href='/shop' class="button button--main button--wide button--clean" style="padding: 0; border: 0; margin-top: 0">
                    <img src="{{ site.static ~ advert.image }}"/>
                    <div style="padding: 1em">Show your support for DtW</div>
                </a>
            {% endif %}
        </div>
    </div>
{% endif %}