<header>
    <a href="#" class="show-sidebar"><i class="fas fa-bars" aria-hidden="true"></i></a>
    <a href="/{% if user %}dashboard{% endif %}" class="logo">Defend the Web</a>
    
   {% if breadcrumb %}
        <ul class="breadcrumb">
            {% for title,slug in breadcrumb %}
                <li><a href='{{slug}}'>{{title}}</a></li>
            {% endfor %}
        </ul>
    {% endif %}

    <nav>
        <ul>
            {% if user %}
                {% set medal = user.getNextMedal() %}
                {% if medal and medal.label %}
                    <li class="medal-progress medal-progress--{{ medal.colour }}">
                        <a href="/help/medals#{{ medal.label }}" title="Progress towards next medal">
                            <div class="right small">{{ medal.progress.stepsCompleted }} of {{ medal.progress.stepsTotal }}</div>
                            <div class="small medal-progress-medal">
                                {{ medal.label }}
                            </div>
                            <div class="progress progress--small">
                                <div class="progress-bar" style="width: {{ medal.progress.percentage }}%"></div>
                            </div>
                        </a>
                    </li>
                {% endif %}
                <li class="nav-notifications {% if user.notifications.unread %}nav-notifications--unread{% endif %} ">
                    <a class="popup-handle" href="/notifications" title="Notifications" data-popup-target="sibling">
                        <i class="far fa-bell"></i>
                    </a>
                    <div class="nav-notifications-popup popup">
                        <div class="notifications center">No unread notifications</div>
                        <a class="footer" href="/notifications">
                            View all notifications
                        </a>
                    </div>
                </li>
                <li class="nav-account">
                    <a href="/profile" title="Profile" data-popup-target="sibling">
                        {{ getImage(user.profile.avatar, "navatar")|raw }}
                        <span>{{ user.username }}</span>
                    </a>
                    <div class="nav-account-popup popup">
                        <ul>
                            <li>
                                <a href='/profile'>My profile</a>
                            </li>
                            <li>
                                <a href='/settings/profile'>Edit profile</a>
                            </li>
                            <li>
                                <a href='/settings'>Settings</a>    
                            </li>
                        </ul>

                        <ul>
                            <li>
                                <a href='/auth/logout'>Log out</a>
                            </li>
                        </ul>
                    </div>
                </li>
            {% else %}
                <li class="nav-account">
                    <a href="/auth">
                        <img src="{{ site.static }}/anon.svg" alt="avatar">
                        Login
                    </a>
                </li>
            {% endif %}
        </ul>
    </nav>
</header>

{% include 'includes/nav-mobile.twig' %}