{% if profile %}
    <div class="block profile-card {{ small ? 'profile-card--small' : '' }} {{ popup ? 'profile-card--popup' : '' }}">
        {% if title %}
            <h3 class="block-heading profile-meta-title">{{ title|raw }}</h3>
        {% endif %}
        <div class="block-content">
            <div class="profile-card-avatar">
                <a href="{{ profile.permalink }}">
                    {{ getImage(profile.avatar, "avatar")|raw }}
                </a>
            </div>
            <div class="profile-card-details">
                <a href="{{ profile.permalink }}" {{ profile.isDonator() ? 'data-donator' : '' }}>
                    <h2>{{ profile.name ? profile.name : profile.username }}</h2>

                    {% if profile.name %}
                        <span class="small">[{{ profile.username }}]</span>
                    {% endif %}
                </a>

                {% if content %}
                    <p>{{ content }}</p>
                {% else %}
                    {% if stats %}
                        <div class="small">
                            Reputation: {{ profile.reputation|number_format }} &middot;
                            Progress: {{ profile.levelProgress|round }}%
                        </div>
                    {% endif %}

                    {% if status %}
                        <h5>{{ profile.status }}</h5>
                    {% endif %}
                {% endif %}
            </div>

            {% if link or controls %}
                <div class="profile-card-controls">
                    <div class="button-group button-group--small button-group--dropdown">
                        {% if link %}
                            <a href='{{ profile.permalink }}' class="button button--wide">View profile</a>
                        {% endif %}
                        {% if controls %}
                            {% set blocked = profile.isBlocked() %}
                            {% if user and not profile.currentUser %}
                                {% if blocked %}
                                    <a href="{{ profile.permalink }}/unblock" class="button button--warning" csrf>Unblock</a>
                                {% endif %}
                                {% if profile.beingFollowed() %}
                                    <a href="{{ profile.permalink }}/unfollow" class="button button--warning" data-follow>Stop following</a>
                                {% else %}
                                    <a href="{{ profile.permalink }}/follow" class="button" data-follow>Follow</a>
                                {% endif %}

                                {% if not blocked %}
                                    <a class="button button-dropdown-show" data-toggle="ul" data-toggle-unfocus="" href="#">
                                        <i class="fas fa-angle-down" aria-hidden="true"></i>
                                    </a>

                                    <ul class="button-dropdown-menu hide">
                                        <li>
                                            <a href="/messages/new?to={{ profile.username }}">Send PM</a>
                                        </li>
                                    </ul>
                                {% endif %}
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
{% endif %}